{% extends 'core/base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="px-4 py-2">
        <h1>The projects page</h1>
        <div class="grid grid-cols-4 gap-5">
            {% for project in projects %}
            <a href="{{ project.link }}" class="bg-white rounded-xl px-2 py-2">
                <p>{{ project.name }}</p>
                <p>{{ project.link }}</p>
                <p>{{ project.description }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}